cryptography==1.9
Pygments==2.2.0
pylint==1.7.1
pytest==3.1.1
pytz==2017.2
requests==2.17.3
tox==2.7.0
urllib3==1.21.1
virtualenv==15.1.0
wrapt==1.10.10
mockup==2.1.2
morepath==0.13
aiohttp-auth-autz==0.1.0
libtaxii==1.1.118
httplib2==0.9.2
pyvisa==0.8
rpc4django==0.2.2
tablib==0.11.2
tqdm==4.11.1
zopeskel==2.10
